* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Pacifico', serif;
	font-weight: 400;
	font-style: normal;
	background-color: black;
	overflow: hidden;
}
p {
	text-align: center;
	justify-content: center;
	align-items: center;
	position: fixed;
	color: white;
	font-size: 48px;
	z-index: 18;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	transition: opacity 0.5s ease;
	opacity: 0;
}
img {
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	height: 300px;
	width: 300px;
	display: none;
	object-fit: cover;
	transform: translateY(-45%);
	transition: 0.5s;
}
